<br>
{{#if misproWords}}
<h2>Mispronunciation Analysis</h2>
<table class="table table-hover big-text">
  <thead>
    <tr>
    <th>#</th>
    <th>Word</th>
    <th>Your Pronunciation</th>
    <th>Correct Pronunciation</th>
    </tr>
  </thead>

  <tbody>
    {{#each misproWords:index}}
      {{> wordRow}}
    {{/each}}
  </tbody>
</table>

{{/if}}

{{#partial wordRow}}
  <tr>
    <td>{{index+1}}</td>
    <td><span on-click="toggleHighlight">{{word}}
      <!-- <div class="btn btn-default" on-click="toggleHighlight"> -->
        <i class="fa fa-search search-icon"></i>
      </span>
      <!-- </div> -->
    </td>
    <td> 
      <span class="word">{{prefix(this)}}<span class="mispro-letters">{{mispro(this)}}</span>{{suffix(this)}}
      </span>
      <div class="btn btn-danger" on-click="play">
        <i class="fa fa-play"></i>
      </div>
    </td>
    <td>{{word}}
      <div class="btn btn-warning" on-click="synthesize">
        <i class="fa fa-play"></i>
      </div>
    </td>
  </tr>
{{/partial}}