<div class="panel panel-default {{#if isFocused( [[fragNum]] )}}focused{{/if}}"
  on-mouseenter="{{^recording()}}hoverPanel{{/recording()}}"
  on-mouseleave="{{^recording()}}unhoverPanel{{/recording()}}"
  data-fragment="[[fragNum]]">

  <div class="panel-body">
    <div class="row">

      <div class="col-lg-4 col-md-5 col-sm-6 content-buttons-container glyph"> 
        <div class="content-buttons btn-group btn-group-lg invisible" role="group" aria-label="...">
          <button type="button" 
            class="btn record-btn 
            {{#if isRecording([[fragNum]])}} btn-danger {{else}} btn-primary {{/if}} 
            {{#if and(recording(), !isRecording( [[fragNum]] )) }} disabled {{/if}}" 
            on-click="toggleRecord"
            data-fragment="[[fragNum]]"
            data-text="[[this.text]]"
            data-numwords="[[this.words.length]]"
            >
            {{#if isRecording([[fragNum]])}}
              <i class="fa fa-stop"></i> Stop
            {{else}}
              <i class="fa fa-dot-circle-o"></i> Record
            {{/if}}
          </button>

          <button type="button" 
            class="btn btn-success play-btn 
            {{#if !playbackReady( [[fragNum]] )}} disabled {{/if}}" 
            on-click="playFragment"
            data-fragment="[[fragNum]]"
            data-disabled="{{ playbackReady([[fragNum]]) }}"
            >
            <!-- make disabled expr use method call on fragnum instead of list 
            lookup so that the [[[ ]]] doesn't get misinterpreted
            also move disabled state to class (bootstrap will handle it) instead of
            the normal disabled attr, since the render strips the value from that attr-->
            <i class="fa fa-play"></i> Play
          </button>
        </div>
      </div>

      <div class="col-lg-8 col-md-7 col-sm-6 content-container">
        <span class="big-text readable-fragment" 
          data-fragment="[[fragNum]]"
          data-text="[[this.text]]"
          data-numwords="[[this.words.length]]">
          [[#each this.words:wordNum]]
            <span 
              data-fragment="[[fragNum]]" 
              data-index="[[wordNum]]"
              on-click="playWord"
              >
              [[ this ]]
            </span> 
              [[ ' ' ]]
          [[/each]]

        </span>
      </div>

    </div>
  </div>
</div>