<div class="panel panel-default {{#if isFocused( [[fragNum]] )}}focused{{/if}}"
  on-mouseenter="{{^recording}}hoverPanel{{/recording}}"
  on-mouseleave="{{^recording}}unhoverPanel{{/recording}}"
  data-fragment="[[fragNum]]">
  <div class="panel-body">
    <div class="row">

      <div class="col-lg-4 col-md-5 col-sm-6 content-buttons-container glyph"> 
        <div class="content-buttons btn-group btn-group-lg invisible" role="group" aria-label="...">
          <button type="button" 
            class="btn record-btn {{#if isRecording([[fragNum]])}} btn-danger {{else}} btn-primary {{/if}}" 
            on-click="toggleRecord"
            data-fragment="[[fragNum]]"
            disabled="{{ and( recording, !isRecording( [[fragNum]] ) ) }}">
            {{#if isRecording(fragNum)}}
              <i class="fa fa-stop"></i> Stop
            {{else}}
              <i class="fa fa-dot-circle-o"></i> Record
            {{/if}}
          </button>

          <button type="button" 
            class="btn btn-success play-btn" 
            data-fragment="[[fragNum]]"
            disabled="{{ playbackReady([[fragNum]]) }}"
            >
            <!-- make disabled expr use method call on fragnum instead of list 
            lookup so that the [[[ ]]] doesn't get misinterpreted-->
            <i class="fa fa-play"></i> Play
          </button>
        </div>
      </div>

      <div class="col-lg-8 col-md-7 col-sm-6 content-container">
        <span class="big-text readable-fragment" 
          data-fragment="[[fragNum]]"
          data-text="[[this.text]]"
          data-numwords="[[this.words.length]]">
          [[#each this.words:wordNum]]
            <span data-fragment="[[fragNum]]" data-index="[[wordNum]]">
              [[ this ]]
            </span> 
              [[ ' ' ]]
          [[/each]]

        </span>
      </div>

    </div>
  </div>
</div>