<!doctype html>
<html lang='en-GB'>
<head>
  <meta charset='utf-8'>
  <title>Orcas Island</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Other Third Party Libraries -->
  <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
  
  <!-- My Files -->
  <!-- Import library css files first so that your files can override their properties -->
  <link rel="stylesheet" type="text/css" href="/css/spoke.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
[[> nav]]

<div class="container" id="body-container">

  [[[ body ]]]

  [[> footer]]

</div>  <!-- End of container div -->

</body>
</html>

