<div id="story-container">

<div class="page-header">
  <h1>
    <small><span class="fa-stack align-bottom">
      <i class="fa fa-microphone fa-stack-2x glyph stroked"></i>
      <i class="fa fa-microphone fa-stack-2x glyph fill"></i>
    </span></small>
    [[story.title]]
    <small>By [[story.author]]</small>
  </h1>
  <h1>
    <small>Focused {{focusedFragment}} </small>
    <small>Recording "{{recording()}}"({{recordingFragment}})</small>
  </h1>
</div> <!-- end of header -->

<div class="content-section">
  [[#each story.fragments:fragNum]]
    [[> fragment]]
  [[/each]]
</div>


<button type="button" class="btn done-btn btn-warning btn-lg" 
id="doneBtn"
on-click="doneReading">
  Done reading
</button>

</div> <!-- end of stories container -->

<div id="mispro-container"></div>

<!-- see, now the script tag can easily be excluded by using a template over 
  #stories-container instead of #body-container, which includes all the 
  contents of this file -->
<script data-main="/js/story" src="/js/third-party/require.js"></script>

<!-- 
So ractive strips off attributes set on disabled, even if they are "true" or "false"
on-mouseenter and on-mouse leave stripped and on-click

If you use your developer tools to inspect the button, you'll notice that it doesn't have a on-click attribute. When Ractive.js parses the template, it knows to treat attributes beginning on- differently.
but onclick and onmouseover work fine (no hyphen)

 -->