body {
  padding-top: 80px;
  padding-bottom: 30px;
}

a {
  color: #00B7FF;
}

footer {
  margin-top: 70px;
  border-top: 1px solid black;
  padding-top: 10px;
}

/* Mispro Demo Classes */
.word {
  padding-right: 0.3em;
}


.content-buttons {
  margin-bottom: 15px;
}

.mispro {
  color: red;
}

.thumbnail img {
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.thumbnail:hover {
  box-shadow: 0 0 3px 1px rgb(31,111,217);
}

.thumbnail:hover img {
  opacity: 1;
}

.readable-fragment {
  width: inherit;
}

.done-btn {
  display: block;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  margin-top: 40px;
}

.focused .content-buttons {
  visibility: visible;
}

.focused .readable-fragment {
  font-weight: 500;
}

.mispro-letters {
  background-color: #e7c3c3;
}